<div *ngIf="role && role.Role == 'CertificationBody'">
  <h4>Issued Accreditations</h4>
  <div class="alert" [ngClass]="msg.level" *ngIf="msg">
    <strong>{{msg.text}}</strong>
  </div>
  <table class="table table-bordered" *ngIf="authorizations && authorizations.length > 0">
    <thead>
    <tr>
      <th>Authorized Party</th>
      <th>AccreditationID</th>
      <th>Expires</th>
      <th>Revoked</th>
      <th>Revocation timestamp</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let authorization of authorizations">
      <td>{{authorization.AuthorizedParty}}</td>
      <td [ngClass]="authorization.Accreditation && authorization.Accreditation.Revoked ? 'danger' : 'success'">{{authorization.AccreditationID}} <span *ngIf="authorization.Accreditation && authorization.Accreditation.Revoked">(revoked)</span></td>
      <td>{{authorization.Expires}}</td>
      <td [ngClass]="authorization.Revoked ? 'danger' : 'success'">{{authorization.Revoked}}</td>
      <td>
        <span *ngIf="authorization.Revoked">{{authorization.RevocationTimestamp}}</span>
        <button *ngIf="!authorization.Revoked" type="button" class="btn btn-danger" (click)="revoke_authorization(authorization)">Revoke authorization now</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
