<div *ngIf="role && role.Role == 'Trader'">
  <h4>My grapes</h4>
  <div class="alert" [ngClass]="msg.level" *ngIf="msg">
    <strong>{{msg.text}}</strong>
  </div>
  <table class="table table-bordered" *ngIf="grapeAssets && grapeAssets.length > 0">
    <thead>
    <tr>
      <th>UUID</th>
      <th>Producer</th>
      <th>Created</th>
      <th>AccreditationSignatures</th>
      <th>Ownership</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let grapeAsset of grapeAssets">
      <td>{{grapeAsset.UUID}}</td>
      <td>{{grapeAsset.Producer}}</td>
      <td>{{grapeAsset.Created}}</td>
      <td>
        <ul class="list-group" *ngIf="grapeAsset.AccreditationSignatures && grapeAsset.AccreditationSignatures.length > 0">
          <li class="list-group-item" *ngFor="let sig of grapeAsset.AccreditationSignatures" [ngClass]="sig.Valid ? 'list-group-item-success' : 'list-group-item-danger'">{{sig.AccreditationID}}</li>
        </ul>
      </td>
      <td>
        <ul class="list-group" *ngIf="grapeAsset.Ownership && grapeAsset.Ownership.length > 0">
          <li class="list-group-item" *ngFor="let owner of grapeAsset.Ownership; let first = first; let last = last" [ngClass]="last ? 'list-group-item-success' : ''" >{{owner.PartyID}} - {{owner.Timestamp}}</li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>
