<div class="row">
  <div class="col-md-12">
    <h3>Trader panel</h3>
    <div class="alert alert-warning" *ngIf="!(role && role.Role == 'Trader')">
      <strong>You need to be a trader to view this page</strong>
    </div>

    <ul class="nav nav-tabs" *ngIf="role && role.Role == 'Trader'">
      <li role="presentation" routerLinkActive="active"><a routerLink="owned_grapes">My grapes</a></li>
      <!--li role="presentation" routerLinkActive="active"><a routerLink="transfer_grapes">Transfer grapes</a></li-->
    </ul>

    <router-outlet></router-outlet>
  </div>
</div>
