<div *ngIf="role && role.Role == 'AccreditationBody'">
  <h4>Issue accreditation</h4>
  <div class="alert" [ngClass]="msg.level" *ngIf="msg">
    <strong>{{msg.text}}</strong>
  </div>
  <div class="form-group">
    <label for="accreditation">Accreditation:</label>
    <select id="accreditation" class="form-control" [(ngModel)]="selectedAccreditation">
      <option *ngFor="let accreditation of accreditations" [value]="accreditation.ID">{{accreditation.ID}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="cb">Certification body:</label>
    <select id="cb" class="form-control" [(ngModel)]="selectedCB">
      <option *ngFor="let cert_body of cert_bodies" [value]="cert_body">{{cert_body}}</option>
    </select>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-success" (click)="issue_accreditation(selectedAccreditation,selectedCB)">Issue accreditation to Certification body</button>
  </div>
</div>
