<div *ngIf="role && role.Role == 'Farm'">
  <h4>Certify Grapes</h4>
  <div class="alert" *ngFor="let msg of msgs" [ngClass]="msg.level">
    <strong>{{msg.text}}</strong>
  </div>
  <div class="form-group" *ngIf="grapeAssets">
    <label for="grapeAsset">Grape asset:</label>
    <select id="grapeAsset" class="form-control" [(ngModel)]="selectedGrapeAsset">
      <option *ngFor="let grapeAsset of grapeAssets" [value]="grapeAsset.UUID">{{grapeAsset.UUID}}</option>
    </select>
  </div>
  <div class="form-group" *ngIf="authorizations">
    <label for="authorization">Accreditation:</label>
    <select id="authorization" class="form-control" [(ngModel)]="selectedAccreditation">
      <option *ngFor="let authorization of authorizations" [value]="authorization.AccreditationID">{{authorization.AccreditationID}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="timestamp">Timestamp:</label>
    <input type="text" class="form-control" id="timestamp" [(ngModel)]="timestamp">
  </div>
  <div class="form-group" *ngIf="selectedGrapeAsset && selectedAccreditation">
    <button type="button" class="btn btn-success" (click)="certify_asset(selectedGrapeAsset,selectedAccreditation,timestamp)">Certify grape asset</button>
  </div>
</div>
