<div *ngIf="role && role.Role == 'Farm'">
  <h4>Createad grape assets</h4>
  <div class="alert" [ngClass]="msg.level" *ngIf="msg">
    <strong>{{msg.text}}</strong>
  </div>
  <table class="table table-bordered" *ngIf="produced_grapeAssets && produced_grapeAssets.length > 0">
    <thead>
    <tr>
      <th>UUID</th>
      <th>Producer</th>
      <th>Created</th>
      <th>AccreditationSignatures</th>
      <th>Ownership</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let grapeAsset of produced_grapeAssets">
      <td>{{grapeAsset.UUID}}</td>
      <td>{{grapeAsset.Producer}}</td>
      <td>{{grapeAsset.Created}}</td>
      <td>
        <ul class="list-group" *ngIf="grapeAsset.AccreditationSignatures && grapeAsset.AccreditationSignatures.length > 0">
          <li class="list-group-item" *ngFor="let sig of grapeAsset.AccreditationSignatures" [ngClass]="sig.Valid ? 'list-group-item-success' : 'list-group-item-danger'">{{sig.AccreditationID}}</li>
        </ul>
        <div class="form-group" *ngIf="authorizations">
          <select id="authorization" class="form-control" [(ngModel)]="grapeAsset.selectedAccreditation">
            <option *ngFor="let authorization of authorizations" [value]="authorization.AccreditationID">{{authorization.AccreditationID}}</option>
          </select>
        </div>
        <div class="form-group" *ngIf="grapeAsset.selectedAccreditation">
          <button type="button" class="btn btn-success" (click)="certify_asset(grapeAsset.UUID,grapeAsset.selectedAccreditation)">Certify grape asset</button>
        </div>
      </td>
      <td>
        <ul class="list-group" *ngIf="grapeAsset.Ownership && grapeAsset.Ownership.length > 0">
          <li class="list-group-item" *ngFor="let owner of grapeAsset.Ownership; let first = first; let last = last" [ngClass]="last ? 'list-group-item-success' : ''" >{{owner.PartyID}} - {{owner.Timestamp}}</li>
        </ul>
        <div *ngIf="grapeAsset.Ownership && grapeAsset.Ownership[grapeAsset.Ownership.length-1].PartyID == enrolledId">
          <div class="form-group" *ngIf="traders">
            <select id="trader" class="form-control" [(ngModel)]="grapeAsset.selectedTrader">
              <option *ngFor="let trader of traders" [value]="trader">{{trader}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-success" (click)="transfer_asset(grapeAsset.UUID,grapeAsset.selectedTrader)">Transfer grapes</button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
