<div *ngIf="role && role.Role == 'Auditor'">
  <h4>Revoke accreditation</h4>
  <div class="alert" [ngClass]="msg.level" *ngIf="msg">
    <strong>{{msg.text}}</strong>
  </div>
  <div class="form-group" *ngIf="accreditations && accreditations.length > 0">
    <label for="accreditation">Accreditation:</label>
    <select id="accreditation" class="form-control" [(ngModel)]="selectedAccreditation">
      <option *ngFor="let accreditation of accreditations" [value]="accreditation.ID">{{accreditation.ID}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="revocation_timestamp">Revocation timestamp:</label>
    <input type="text" class="form-control" id="revocation_timestamp" [(ngModel)]="revocation_timestamp">
  </div>
  <div class="form-group" *ngIf="selectedAccreditation">
    <button type="button" class="btn btn-danger" (click)="revoke_accreditation(selectedAccreditation,revocation_timestamp)">Revoke accreditation</button>
  </div>
</div>
